{% extends 'base.html' %}

{% block body %}
<div class="content">
    <h1> Python App News Scheduler</h1>
    <div>
        <p>Editing Schedule : {{subscription.name}}</p>

      <form action="/update/{{subscription.id}}" method="POST">
        <div class="md-12 addform">
              <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                  <span class="mdc-text-field__ripple"></span>
                  <input class="mdc-text-field__input" type="text" name="name" id="name"
                         value="{{ subscription.name }}">
                  <span class="mdc-line-ripple"></span>
              </label>
              <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                  <span class="mdc-text-field__ripple"></span>
                  <input class="mdc-text-field__input" type="datetime-local" name="date" id="date"
                         value="{{ subscription.date }}">
                  <span class="mdc-line-ripple"></span>
              </label>
              <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                  <span class="mdc-text-field__ripple"></span>
                  <input class="mdc-text-field__input" type="text" name="pair" id="pair" value="{{ subscription.currency }}" aria-label="Label">
                  <span class="mdc-line-ripple"></span>
              </label>
              <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                  <span class="mdc-text-field__ripple"></span>
                  <input class="mdc-text-field__input" type="decimal" name="lotsize" id="lotsize" step=".01" value="{{ subscription.lot_size }}" aria-label="Label">
                  <span class="mdc-line-ripple"></span>
              </label>
              <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                  <span class="mdc-text-field__ripple"></span>
                  <input class="mdc-text-field__input" type="text" name="comment" id="comment" value="{{ subscription.comments }}" aria-label="Label">
                  <span class="mdc-line-ripple"></span>
              </label>
          </div>

          <div class="md-12 addform">
              <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                  <span class="mdc-text-field__ripple"></span>
                  <input class="mdc-text-field__input" type="number" name="stoploss" id="stoploss" value="{{ subscription.stop_loss }}" aria-label="Label">
                  <span class="mdc-line-ripple"></span>
              </label>
              <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                  <span class="mdc-text-field__ripple"></span>
                  <input class="mdc-text-field__input" type="number" name="trailingstop" id="trailingstop" value="{{ subscription.trailing_stop }}"  aria-label="Label">
                  <span class="mdc-line-ripple"></span>
              </label>
              <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                  <span class="mdc-text-field__ripple"></span>
                  <input class="mdc-text-field__input" type="number" name="triggerstop" id="triggerstop" value="{{ subscription.trigger_stop }}" aria-label="Label">
                  <span class="mdc-line-ripple"></span>
              </label>
              <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                  <span class="mdc-text-field__ripple"></span>
                  <input class="mdc-text-field__input" type="number" name="pipdiff" id="pipdiff" value="{{ subscription.pip_difference }}" aria-label="Label">
                  <span class="mdc-line-ripple"></span>
              </label>
          </div>

        <button class="mdc-button mdc-button--raised">
            <span class="mdc-button__label">Update Schedule</span>
        </button>
      </form>
    </div>
</div>
{% endblock %}